h1,h2,h3
{
font-family: Verdana, Arial, Helvetica, sans-serif;
} p,table,li,address
{
font-family: Verdana, Arial, Helvetica, sans-serif;
margin-left: 10pt;
color: #812C36
} p,li,th,td
{
font-size: 80%;
} h1,h2,h3,hr
{
color:#000080;
} a:link     { color:#000080 }
a:visited  { color:#444444 }
a:active   { color:#ff0000 }
a:hover    { color:red } body
{
background-color: #c0c0c0;
}
