@charset "iso-8859-1";
h1,h2,h3
{
font-family: "comic sans ms", arial, 'sans serif';
} p,table,li,address
{
font-family: "comic sans ms", arial, 'sans serif';
margin-left: 10pt;
} p,li,th,td
{
font-size: 70%;
} h1,h2,h3,hr
{
color:#FFFFFF;
} 
a:link     { color:#FFCC66 }
a:visited  { color:#FFCC99 }
a:active   { color:#FF0000 }
a:hover    { color:red } body
{
background-color: #474747;
}
