body {
	font: 11px/16px Verdana, Arial, sans-serif;
	background: #3a4075;
/*	background: #8D6B0F; */
	margin-top: 0px;
	}

div.content {
	width: 55%;
}
.standards-note, A:link.standards-note, A:visited.standards-note, A:active.standards-note  {
	color: #E2C58C;
}
P.standards-note {
	width: 70%;
	padding: 10px;
	text-align: left;
	margin: 0px auto;
}

#news {
	border-top: 0px dashed;
	padding-top: 10px;
	margin-top: 10px;
	}

#header-image {
	float: center;
	margin-bottom: 20px;
	}

P.newsitem {
	margin-bottom: 10px;
	padding-bottom: 0px;
	}

P.news-seperator {
	border-bottom: 1px dashed;
	padding: 0px;
	margin: 0px;
	width: 55%;
	}
	

#sidebar H2, #sidebar H3 {
	color: black;
	}

H1, H2, H3, H4, H5, H6 {
	color: #990000;
	font-family: Georgia, serif;
	}

A:link {
	color: #FFCC99;
	font-weight: bold;
	}

A:visited {
	color: #cc9d72;
	font-weight: normal;
	}

A:active {
	color: #FF0000;
	}

H1 {
	font: bold 25px/30px Georgia, serif;
	margin: 0px;
	margin-bottom: 20px;
	}

#sidebar H2 {
	font-size: 20px;
	}

H2, H3 {
	font-size: 17px;
	color: #ffffff;
	}

#news H3 {
	color: #330000;
	}

.inline-navigation {
	border: 1px solid;
	padding: 0px;
	background: #B59840;
	float: right;
	width: 40%;
	margin-bottom: 10px;
	}

.footer-navigation {
	border: 1px solid;
	padding: 0px;
	background: #B59840;
	width: 100%;
	}

OL.numbered {
	list-style-type: decimal;
	}

DIV {
	border: 0px solid;
	}

.note {
	color: #990000;
	}

#container {
/*	background: #CBAA6A;
	background: #D2BE97; */
	background: #5b5b5b;
	width: 90%;
	padding: 10px;
	text-align: left;
	margin: 0px auto;
        border-top: 1px dashed;
	border-left: 1px dashed;
	border-right: 1px dashed;
	border-bottom: 1px dashed;
	}

#news H2, #sidebar H2 {
	margin-top: 0px;
	}



#navigation, #contact {
	padding: 10px;
	}

#events {
	font: 10px/12px Verdana, Arial, sans-serif;
	padding: 10px;
	border: 0px solid;
	border-top: 3px double;
	}

#events H2 {
	text-transform: uppercase;
	}

#events H3 {
	font: bold 11px/12px Verdana, Arial, sans-serif;
	margin-bottom: 0px;
	}

#events P {
	margin: 0px;
	}

#sidebar {
/*	background: #8D6B0F; */
	background: #B59840;
	width: 40%;
	float: right;
	margin: 10px 0px 10px 10px;
	padding: 0px;
	font: 10px/12px Verdana, Arial, sans-serif;
	}

div.spacer {
	clear: both;
	}

