<!--
body { background: #000000 }
hr { color: #5b5b5b }
td { background-image: url(../fond_miscou_nuage.gif); background-repeat: repeat-x; padding: 5px; color: #ffffff; font-family: Verdana, Helvetica, Arial; font-size: 10pt}
a:link { color: #ffcc66 }
a:visited { color: #ffcc99 }
a:active  { color: #ff0000; background: #c0c0c0 }
i, p, blockquote, ul li, ul, dl { font-family: Verdana, Helvetica, Arial; font-size: 10pt; color: #ffffff }
b {font-family: Verdana, Helvetica, Arial; font-size: 12pt; color: #ffff0f }
cite, small {font-family: Verdana, Helvetica, Arial; font-size: 10pt; color: #000077 }
h4, smaller { font-family: Verdana, Helvetica, Arial; font-size: 12pt; color: #000077 }
h3, big { font-family: Verdana, Helvetica, Arial; font-size: 14pt; color: #000059 }
h2 { font-family: Verdana, Helvetica, Arial; font-size: 18pt; color: #ffffff }
h1 { font-family: Verdana, Helvetica, Arial; font-size: 24pt; color: #000077 }
tt, pre { font-family: Courier, Lucidatypewriter; font-size: 10pt; color: #006600 }
-->
