body { background: #afa89a }
hr { color: #5b5b5b }
td { background: #FFD98A; padding: 10px; border: 1px; color: #990000; font-family: Verdana, Helvetica, Arial; font-size: 10pt}
a:link { color: #4444ff }
a:visited { color: #808040}
a:active  { color: #0000dd; background: #c0c0c0 }
i, p, blockquote, ul li, ul, dl { font-family:  Verdana, Helvetica, Arial; font-size: 10pt; color: #800000}
b {font-family: Verdana, Helvetica, Arial; font-size: 12pt; color: #000059}
cite, small {font-family: Verdana, Helvetica, Arial; font-size: 10pt; color: #000077 }
h4, smaller { font-family: Verdana, Helvetica, Arial; font-size: 12pt; color: #000077}
h3, big { font-family: Verdana, Helvetica, Arial; font-size: 14pt; color: #000059}
h2 { font-family: Verdana, Helvetica, Arial; font-size: 18pt; color: #ffffff}
h1 { font-family: Verdana, Helvetica, Arial; font-size: 24pt; color: #000077}
tt, pre { font-family: Courier, Lucidatypewriter; font-size: 10pt; color: #006600} 

