

body {
    background: #859ba3;
  }


hr {
    color: #5b5b5b;
  }


td {
    background: #d3d6c7;
    padding: 10px;
    color: #000000;
    font-family: arial,sans-serif;
    font-size: 12pt;
  }


a:link {
    color: #15787f;
  }


a:visited {
    color: #b7854e;
  }


a:active {
    color: red;
    background: #c0c0c0;
  }


i, p, blockquote, ul li, ul, dl {
    font-family: arial,sans-serif;
    font-size: 12pt;
    color: #000000;
  }


strong {
    font-family: arial,sans-serif;
    font-size: 12pt;
    color: #2E2E7A;
  }


h4, smaller {
    font-family: arial,sans-serif;
    font-size: 12pt;
    color: #000077;
  }


h3, big {
    font-family: arial,sans-serif;
    font-size: 14pt;
    color: #000000;
  }


h2 {
    font-family: arial,sans-serif;
    font-size: 18pt;
    color: #000000;
  }


h1 {
    font-family: arial,sans-serif;
    font-size: 24pt;
    color: #000077;
  }


tt, pre {
    font-family: Courier, Lucidatypewriter;
    font-size: 12pt;
    color: #006600;
  }

